<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let schoolMenu of schoolMenuList">
            <ion-item [routerDirection]="'root'" [routerLink]="[schoolMenu.url]">
              <ion-icon slot="start" [name]="schoolMenu.icon" class="menu-icons-style" [ngStyle]="{'background-color': schoolMenu.color}"></ion-icon>
              <ion-label>
                {{schoolMenu.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
